html, body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	margin: 0;
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
}

header,
footer {
	padding: 10px;
	flex: none;
	background-color: #404040;
}

footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

main {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex: auto;
	margin-left: 10px;
}

h1 {
	text-align: center;
	margin: 0;
	font-size: 30px;
}

h2 {
	text-align: center;
	margin: 0;
	font-size: 12px;
}

a {
	color:lime
}

.command-input {
	width: 85%;
	height: 30px;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
}

.command-button {
	width: 10%;
	height: 30px;
	font-family: 'Courier New', Courier, monospace;
}